<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MINIMO</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
      <!---------------------------------Header--------------------------------->
      <header class="header">
        <div id="logo">
          <img src="/src/images/header/minim%C3%B8.png" alt="logotype" title="Join us and discover the beauty of this world">
        </div>
        <div class="navigaion">
            <span class="nav-references"><a href="#">lifestyle</a></span>
            <span class="nav-references"><a href="#">photodiary</a></span>
            <span class="nav-references"><a href="#">music</a></span>
            <span class="nav-references"><a href="#">travel</a></span>
        </div>
      </header>
      <!---------------------------------Main--------------------------------->
      <main class="main">
      <div class="cover-image">
          <img src="/src/images/body/cover-image/image.png" alt="cover image">
          </div>
      <!---------------------------------Aside-block--------------------------------->
          <aside class="aside">
            <div class="about">
              
            </div>
            <div class="top-posts">
            
            </div>
            <div class="banner">
              
            </div>
          </aside>
      <!---------------------------------Main-section--------------------------------->
        
        <section class="section">
            <div id = "section-name">
                photodiary
            </div>
            <article class="content">
                <h2 class="article-header">Header</h2>
                <div class="text-in-the-article">
                 <p class="simple-text">There is the text</p>
                </div>
                <div class="image-in-the-article">
                <img src="/src/images/body/article/photo-1/image.png" alt="blondy and sand">
                </div>
                <div class="image-in-the-article">
                <img src="/src/images/body/article/photo-2/image.png" alt="blondy and sand">
                </div>
                <div class="image-in-the-article">
                <img src="/src/images/body/article/photo-3/image.png" alt="blondy and sand">
                </div>
                <div class="text-in-the-article">
                    <p class="italic-text">There is the text</p>
                    <p class="simple-text">There is the text</p>
                </div>
                <div class="share-bar">
                    <span>share</span>
                    <span class="share-bar-logo">
                        <a href="#">
                        <img src="/src/images/body/share/fb.png"
                             alt="facebook" title="Share in Facebook">
                        </a>
                        
                    </span>
                    <span class="share-bar-logo">
                        <a href="#">
                            <img src="/src/images/body/share/tw.png" alt="twitter" title="Share in Twitter">
                        </a> 
                    </span>
                    <span class="share-bar-logo">
                        <a href="#">
                            <img src="/src/images/body/share/g+.png" alt="google+" title="Share in Google+">
                        </a>
                    </span>
                    <span class="share-bar-logo">
                        <a href="#">
                            <img src="/src/images/body/share/tumblr.png" alt="tambler" title="Share in Tambler">
                        </a>
                    </span>
                    <span class="share-bar-logo">
                        <a href="#">
                            <img src="/src/images/body/share/pinterest.png" alt="pinterest" title="Share in Pinterest">
                        </a>
                    </span>
                </div>
            </article>
          </section>
      </main>
      <!---------------------------------End-Main--------------------------------->
      <footer class="footer">
          <div class="footer-content">
              <span class="footer-ref"><a href="#">Terms and Condition</a></span>
              <span class="footer-ref"><a href="#">Privacy</a></span>
          </div>
          <div class="follow-bar">
              <span>Follow</span>
              <span><a href="#">
                  <img src="/src/images/footer/social/facebook.png" alt="facebook">
                  </a></span>
              <span><a href="#">
                  <img src="/src/images/footer/social/twitter.png" alt="twitter">
                  </a></span>
              <span><a href="#">
                  <img src="/src/images/footer/social/instagram.png" alt="instagram">
                  </a></span>
          </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>